<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="https://www.thymeleaf.org/extras/spring-security">
<nav class="navbar navbar-light" style="background-color: #87CEEB; padding: 1.5rem;" th:fragment="bodyHeader">
    <div class="container-fluid">
        <a class="navbar-brand fs-3 fw-bold" href="/">Board</a>
<!--인증된 사용자-->
        <div class="d-flex align-items-baseline" sec:authorize="isAuthenticated()">
            <p th:text="${nickname}" class="fw-bold fs-6" style="margin-right: 10px; text-align: center;"></p>
            <a th:href="@{auth/mypage}" class="btn btn-outline-primary me-2">마이페이지</a>
            <a th:href="@{/auth/logout}" class="btn btn-outline-primary me-2">로그아웃</a>
        </div>
<!--        인증되지 않은 사용자-->
        <div class="d-flex" sec:authorize="isAnonymous()">
            <a th:href="@{/auth/register}" class="btn btn-outline-primary me-2">회원 가입</a>
            <a th:href="@{/auth/login}" class="btn btn-outline-primary me-2">로그인</a>
        </div>

    </div>
</nav>