<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>게시판</title>
    <!-- Bootstrap CSS -->
    <link th:href="@{/css/bootstrap.min.css}" rel="stylesheet">
    <style>
        table th, table td {
            text-align: center;
        }
        a {
            color: black;
            text-decoration: none; /* 기본 밑줄 제거 */
        }
    </style>
</head>
<body>

<div th:replace="~{fragments/bodyHeader::bodyHeader}"></div>

<!-- Main Content -->
<div class="container mt-4">
    <div class="d-flex justify-content-between align-items-center mb-4">
        <h2>게시판 목록</h2>
        <a th:href="@{/board/write}" class="btn btn-primary">글 작성</a> <!-- 글 작성 버튼 -->
    </div>
    <table class="table table-hover">
        <thead>
        <tr>
            <th scope="col" class="col-1">번호</th>
            <th scope="col" class="col-6">제목</th>
            <th scope="col" class="col-2">작성자</th>
            <th scope="col" class="col-2">작성일</th>
            <th scope="col" class="col-1">조회수</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="post : ${pageInfo.posts}">
            <td th:text="${post.id}">번호</td>
            <td style="text-align: left"><a th:href="@{/board/post/{postId}(postId=${post.id})}" th:text="${post.title}">게시글 제목</a></td>
            <td th:text="${post.writer}">작성자</td>
            <td th:text="${post.createdDate}">2025-01-09</td>
            <td th:text="${post.viewCount}">조회수</td>
        </tr>
        </tbody>
    </table>

    <nav aria-label="Page navigation">
        <ul class="pagination justify-content-center">

            <li class="page-item" th:classappend="${pageInfo.currentPage == 0} ? 'disabled'">
                <a class="page-link" th:href="@{/board(page=${(pageInfo.currentPage - 1)})}">이전</a>
            </li>

            <li class="page-item" th:if="${pageInfo.totalPages>0}" th:each="pageNum : ${#numbers.sequence(pageInfo.startPage,pageInfo.endPage)}"
                th:classappend="${pageNum == (pageInfo.currentPage+1)} ? 'active'">
                <a class="page-link" th:href="@{/board(page=${(pageNum - 1)})}" th:text="${pageNum}"></a>
            </li>


            <li class="page-item" th:classappend="${(pageInfo.currentPage+1) >= pageInfo.totalPages} ? 'disabled'">
                <a class="page-link" th:href="@{/board(page=${pageInfo.currentPage + 1})}">다음</a>
            </li>
        </ul>
    </nav>

</div>

<!-- Bootstrap JS -->
<script th:src="@{/js/bootstrap.bundle.min.js}"></script>
</body>
</html>
