<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>상세 보기</title>
    <!-- Bootstrap CSS -->
    <link th:href="@{/css/bootstrap.min.css}" rel="stylesheet">
</head>
<body>
<div th:replace="~{fragments/bodyHeader::bodyHeader}"></div>

<div class="container mt-5">
    <h2 class="mb-4">상세 보기</h2>
    <form class="card" th:object="${post}">
        <div class="card-header d-flex justify-content-between">
            <label th:text="'번호: ' + ${post.id}"></label>
            <label th:text="'작성일: '+${post.createdDate}"></label>
        </div>
        <div class="card-header d-flex justify-content-between">
            <label th:text="'작성자: '+${post.writer}"></label>
            <label th:text="'조회수: '+${post.viewCount}"></label>
        </div>
        <div class="mb-3 card-body">
            <label th:for="title" class="form-label">제목</label>
            <input type="text" th:field="*{title}" class="form-control" readonly>
            <br>
            <label th:for="content" class="form-label">내용</label>
            <textarea type="text" th:field="*{content}" class="form-control" rows="10" readonly></textarea>
        </div>
    </form>
    <div class="d-flex">
        <a th:href="@{/board}" class="btn btn-secondary me-1">목록으로</a>
        <th:block th:if="${#authentication.principal.username == post.member.email}">
            <a th:href="@{/board/post/{id}/edit(id=${post.id})}" class="btn btn-primary me-1">수정</a>
            <form th:action="@{/board/post/{id}/delete(id=${post.id})}"
                  th:method="delete" onsubmit="return confirmDelete();">
                <button type="submit" class="btn btn-danger me-1">삭제</button>
            </form>
        </th:block>
    </div>



    <div class="card mt-5">
        <form th:action="@{/board/post/{id}/comment(id=${post.id})}" method="post" th:object="${commentForm}" class="card-body mb-3">
            <textarea th:field="*{comment}" class="form-control" rows="4" placeholder="댓글을 입력하세요"
                      th:class="${#fields.hasErrors('comment') ? 'form-control is-invalid':'form-control'}"></textarea>
            <div class="d-flex justify-content-end mt-2">
                <button type="submit" class="btn btn-primary">등록</button>
            </div>
        </form>


        <div th:each="comment : ${comments}" class="card-body">
            <div class="border-bottom rounded">
                <div class="d-flex justify-content-between align-items-center">
                    <div class="d-flex align-items-center">
                        <strong th:text="${comment.member.nickname}"></strong>
                    </div>

                    <!-- Dropdown -->
                    <div class="dropdown" th:if="${#authentication.principal.username == comment.member.email}">
                        <button class="btn btn-sm btn-light" type="button" data-bs-toggle="dropdown" aria-expanded="false">
                            <strong>⋯</strong>
                        </button>
                        <ul class="dropdown-menu dropdown-menu-end">
                            <li>
                                <form th:action="@{/board/post/{postId}/comment/{commentId}(postId=${post.id},commentId=${comment.id})}"
                                      th:method="get"
                                      th:if="${comment.id != targetId}">
                                    <button type="submit" class="dropdown-item">수정</button>
                                </form>
                            </li>
                            <li>
                                <form th:action="@{/board/post/{postId}/comment/{commentId}(postId=${post.id},commentId=${comment.id})}"
                                      th:method="delete">
                                    <button type="submit" class="dropdown-item">삭제</button>
                                </form>
                            </li>
                        </ul>
                    </div>
                </div>

                <div th:if="${comment.id != targetId}" class="comment-content">
                    <p th:text="${comment.comment}"></p>
                </div>

                <form th:if="${comment.id == targetId}"
                      th:action="@{/board/post/{postId}/comment/{commentId}(postId=${post.id},commentId=${comment.id})}"
                      th:object="${commentEditForm}"
                      method="post" class="comment-edit-form">
                    <textarea class="form-control" rows="3" th:field="*{comment}"
                              th:class="${#fields.hasErrors('comment') ? 'form-control is-invalid':'form-control'}"></textarea>
                    <div class="d-flex justify-content-end mt-2">
                        <button type="submit" class="btn btn-success me-1">저장</button>
                        <button type="button" class="btn btn-secondary me-1">취소</button>
                    </div>
                </form>
                <span class="text-muted small" th:text="${comment.createdDate}"></span>

            </div>
            </div>
        </div>

    </div>


<script>
    function confirmDelete() {
        return confirm("정말로 삭제하시겠습니까?");
    }
</script>
<!-- Bootstrap JS -->
<script th:src="@{/js/bootstrap.bundle.min.js}"></script>
</body>
</html>
